.back{
    background-color: hsl(217, 54%, 11%);
    height: 99vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardAll{
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    height: 500px;
    width: 300px;
    padding: 20px;
    min-height: 450px;
    box-shadow:  0px 5px 5px 10px #0c1729;
}

.img{
    background-image: url(../assets/images/image-equilibrium.jpg);
    background-repeat: no-repeat;
    height: 60%;
    object-fit: contain;
    background-size: 100%;
    border-radius: 15px;
}
.invisible{
    content: "";
    background-color: hsla(178, 100%, 50%, 0.5);
    opacity: 0;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
img{
    align-self: center;
}
.invisible:hover{
    opacity: 1;
}
h4{
    font-size: 14pt;
}
h4, span{
    color: #fff;
}
p{
    color: hsl(215, 51%, 70%);
    font-size: 11pt;
    margin-top: 5px;
    margin-bottom: 5px;
}
.prix{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.prix2{
    display: flex;
    align-items: center;
}
.logo{
    height: 19px;
    width: 12px;
    background-image: url(../assets/images/icon-ethereum.svg);
    background-repeat: no-repeat;
}
.icon{
    background-image: url(../assets/images/icon-clock.svg);
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
}
.createur{
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px hsl(215, 32%, 27%);
}
.creaP{
    background-image: url(../assets/images/image-avatar.png);
    background-size: 100%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #fff solid 1px;
    margin-right: 10px;

}
.ppp{
    color: hsl(178, 100%, 50%);
}
.titre{
    cursor: pointer;
}
.titre:hover{
    color: hsl(178, 100%, 50%);
}
span{
    cursor: pointer;
}
span:hover{
    color: hsl(178, 100%, 50%);
}