
.outfit- {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body{
  background-color: hsl(217, 54%, 11%);
  /* height: 90vh; */
  /* width: 9vw;
  display: flex; */
  margin: 0;
  font-family: '.outfit-', sans-serif;
}
